/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS DO CSS */
:root {
    --color-light: #f1f1f1;
    --color-dark: #333333;
    --color-font1: rgb(255, 0, 0);
    --color-font2: rgb(4, 28, 32);
    --gradient1: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
}

/* MELHOR NAVEGAÇÃO */
html {
    scroll-behavior: smooth;
}

img {
    /* Elementos com display: block começam uma nova linha, não deixa que outros 
    elementos HTML sejam colocados ao seu lado, a menos que sejam especificados para isso */
    display: block;
    max-width: 100%;
}

/* LETRAS RGB */
.nome{
    background-image: linear-gradient(to right, red,orange,yellow,rgb(37, 164, 37), green, blue, purple, violet);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 900;
    transition: color .5s;
    font-size: 1.8rem;
    text-transform: uppercase;
}

a:hover {
    color: var(--color-font1);
}

.inicio {
    width: 100%;
    min-height: 100dvh; /*Esta é uma unidade de medida relativa à altura da viewport dinâmica*/
    padding: 3rem;
    background-image: var(--gradient1), url(../assets/Fundo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 4rem;
    position: relative;
    z-index: 2;
}

span {
    color: red
}

.menu-header {
    display: flex;
    gap: 2rem;
}

/* MENU HAMBURGUER */
.hamburguer {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: none;
}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-light);
    margin: .5rem auto;
    border-radius: 10px;
    transition: .5s;
}

#titulo{
    font-size: 2rem;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*responsividade */
@media(width <=1024px) {
    .menu-header{
        width: 100%;
        height: 100vh;
        background: var(--gradient);
        position: absolute;
        z-index: 1;
        top: 0;
        left: -100%;
        gap: 6rem;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: .5s;
    }

    header h1{
        font-size: 2.2rem;
    }

    #titulo{
        margin: 0 auto;
        font-size: 1.2rem;
    }
    
    .active {
        left: 0;
    }

    /* MENU HAMBURGUER */
    .hamburguer {
        display: block;
    }

    /* 1ª LINHA */
    .hamburguer.active .barra:first-child {
        transform: translateY(13px) rotate(360deg) rotate(45deg);
    }

    /* 2ª LINHA */
    .hamburguer.active .barra:nth-child(2) {
        opacity: 0;
    }
   
    /* 3ª LINHA */
    .hamburguer.active .barra:last-child {
        transform: translateY(-13px) rotate(-360deg) rotate(-45deg);
    }
}