*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #f1f1f1;
    --color-dark: #333333;
    --color-font1: rgb(255, 0, 0);
    --color-font2: rgb(4, 28, 32);
}


body{
    background:rgba(107, 106, 106, 0.678);
}

#container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background: linear-gradient(to right, red,orange,yellow,rgb(37, 164, 37), green, blue, purple, violet);
    color: var(--color-light);
    padding: 30px;
    display:flex;
    justify-content: space-around;
}

header nav ul{
    list-style: none;
	padding:0;
	margin:10px;
	display:flex;
	gap:40px;
}

header nav ul li a{
	text-decoration: none;
    color: var(--color-light);
    font-weight: 900;
    transition: color .5s;
    font-size: 1.8rem;
    text-transform: uppercase;
}

header nav a:hover{
    color: var(--color-font1);
}

#conteudo{
    display:grid;
    grid-template-columns:1fr 200px;
}

#produtos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.produto{
    width:200px;
    height:350px;
    margin:10px;
    padding:10px;
    border: 1px solid #969595;
    border-radius:20px;
    background:grey;
    box-shadow:5px 5px 5px #222222;
    color:#0a0a0a
}

.produto img{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 20px;
}

button{
    background: green;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px 45px;
    border-radius: 20px;
    cursor: pointer;
    color:#ffffff;
}

.direitos{
    text-align: end;
}

button:hover{
    background-image: linear-gradient(rgb(10, 141, 28),black);
}
